%h2= t :'.title'

%p
  = paginate @visits

%table.table
  %thead
    %tr
      %th #
      - %i( started_at user user_agent landing_page country latitude longitude ).each do |att|
        %th= Visit.human_attribute_name(att)
  %tbody
    - @visits.each do |visit|
      %tr
        %td= link_to short_uuid(visit.id), admin_visit_path(visit)
        %td= l visit.started_at, format: :short
        %td
          - if visit.user
            = link_to visit.user.name, admin_user_path(visit.user)
          - else
            &empty;
        %td= visit.user_agent
        %td= visit.landing_page
        %td= visit.country || empty_char
        %td= visit.latitude
        %td= visit.longitude

%p
  = paginate @visits
