<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li class="<%= active_class root_path %>">
        <%= link_to t(:'layouts.navbar.home'), root_path %>
      </li>
      <%- if user_signed_in? %>
        <%= render 'layouts/user_navbar' %>
        <%= render 'layouts/admin_navbar' %>
        <li>
          <%= link_to t(:'devise.sessions.destroy.sign_out'), destroy_user_session_path, method: :delete %>
        </li>
      <% else -%>
        <li class="<%= active_class new_session_path(User) %>">
          <%= link_to t(:'devise.sessions.new.sign_in'), new_session_path(User) %>
        </li>
        <li class="<%= active_class new_registration_path(User) %>">
          <%= link_to t(:'devise.registrations.new.sign_up'), new_registration_path(User) %>
        </li>
      <% end -%>
    </ul>
  </nav>
  <h3 class="text-muted"><%= t :'layouts.application_name' %></h3>
</div>
